html, body 
    font-family Arial, sans-serif
    background-color gray
    height 100%
    margin 0
    color #fff

#map 
    bottom 0px
    height 100%
    left 320px
    position absolute
    right 0px

.options-box 
    background black
    height 100%
    line-height 35px
    padding 10px 10px 30px 10px
    text-align left
    width 300px
    color #fff

#pano 
    width 400px
    height 400px

#wine 
    font-family 'Dancing Script', cursive

#bar 
    font-family 'Architects Daughter', cursive

#rest 
    font-family 'Poiret One', cursive

#coffee 
    font-family 'Cutive Mono', monospace
